
html{
    font-size: 62.5%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* hamburger */
.nav-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: none;
    padding: 1.5rem;
    justify-content: space-between;
}
.nav-container input[type=checkbox], .h-lines{
    display: none;
}
.menu1{
    display: flex;
    list-style: none;

}

.menu1 a{
    text-decoration: none;
    color: #232323;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 0.12em;
    margin-left: 2rem;
    transition:color 0.5s ease-in-out;
}

a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: white;
}
li{list-style: none;}

.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
header{
    position: relative;
    height: 95vh;
    background:linear-gradient(rgba(0, 0, 0, 0.747),rgba(0, 0, 0, 0.600)),url("car1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar1 .container{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    
   

}
.nav-def{
    width: 76vw;
    margin:-2rem auto;
    background-color: white;
}

.nav-menu{
    display: flex;
    
}
.nav-menu li{padding-left: 8rem;}

#hd-btn{
    padding: 1.3rem 3rem;
    display: inline-block;
    border: 1px solid red;
    background-color: red;
    border-radius: 10px;

}



.main-header h1{
    font-size: 4.2rem;
    font-weight: bolder;
    padding: 0.5rem;
    margin-bottom: 5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    font-weight: 500;
    }
    
.main-header{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-70%, -40%);
    }

/* ##############lower nav style####################   */
.dropdown-toggle::after{color: red; }

.nav-def .nav-item{margin-left: 2rem; font-size: 1.3rem; text-transform: capitalize;}

/* #############   SECTION1 */
.sec1{
    background-color: aliceblue;
    padding: 3rem;
}
.mycard{
    padding-top:2.5rem;
    margin-top: -10rem;
    margin-bottom: 12rem;
    

}


.mycard img{
    display: inline-block;
    width: 90rem;
    height: 39rem;
    margin-bottom: -8rem;
    object-fit: cover;
    object-position: center;

}

.card-text{
    font-size: 2.5rem;
    font-weight:bolder;
    color: rgb(2, 2, 54);
    
}

.card-body h6{
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    line-height: normal;
    margin: 3rem 0rem;
}

/* #############   SECTION2 */

.middle{
    display: flex;
   
}
.icon{width: 7rem;height: 5rem;}
.card-div{
    margin: 2rem 1rem;
    width: 33%;
}
.sec2{
    background-color: aliceblue;
    padding: 3rem;
}
.sec2 h1{
    font-size: 2.2rem;
    color: rgb(2, 2, 54);;
    font-weight: bolder;
    padding: 1rem 0;
}
.sec2 h3{
    font-size: 1.5rem;
    color: rgb(2, 2, 54);;
    display: inline-block;
    padding: 1rem;
    font-weight: bolder;

}
.sec2 p{
    margin-left: 8rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.section3{
    height: 50rem;
    padding: 3rem;
    /* object-fit: cover;
    object-position: center;
    position: relative; */
   

}
.section3 h3{
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    padding: 0rem 10rem;
    color: white;
   position: absolute;

}

/* section 4 styling */
.sec4{
    padding: 5rem;
    background-color:rgb(2, 2, 54);
    padding-bottom:20rem ;
    margin-top: 15rem;
   
}
.form-wrap{ display: flex;}
.form{width: 48%; height: 75%; padding: 3rem 1rem 5rem 1rem; text-align: center;  background-color: white;}

.form h1{
    font-weight:700;
    font-size: 2rem;
    padding: 1rem;
}

.form input{
    width: 40%;
    margin: 1rem;
    border:none;
    background-color: rgb(223, 219, 219);
    padding: 10px;
    border-radius: 6px;
    display: inline-block;}

.form input::placeholder{color: rgba(0, 0, 0, 0.596);}
.form textarea::placeholder{color: rgba(0, 0, 0, 0.596);}
textarea{
    width: 85%;
    padding: 1rem;
    border:none;
    border-radius: 6px;
    background-color:rgb(223, 219, 219);
}
.fb{margin-left: 16rem;margin-top: 2rem;}

.cst-count{
    margin-top: 15rem;
    width: 42rem;
    text-align: center;
}
#ch{color: white; }

#cc{color: rgb(160, 9, 9); font-size: 4rem;
font-weight: 800;}

.cst-count p{
    color: white;
    font-size: 1.3rem;
}



.section3 h3{
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    padding: 0rem 10rem;
    color: white;
   position: absolute;

}



/* #############   SECTION4 */

.section4-div{
    padding-left: 4rem;
    padding-top: 3rem;
}

.section4-div h2{
    margin: 3rem 0rem;
    color: rgb(2, 2, 54);;
    font-size: 2.5em;
    font-weight: 900;
}
.section4-div h6{
    color: rgb(2, 2, 54);;
    font-size: 1.2em;
}


.card img{
    width: 100%;
    align-self: center;
}

.text-center img{
    width: 30%;
}

.card-tit{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 1rem;
    font-family: 16px;
}
.card{
    padding: 2rem 3rem;
}
.card p{
    font-size: 14px;
}

.middle2{
    display: flex;
    text-align: center;
}


.col-sm-4:hover{
    box-shadow: 0px 9px 15px -2px #888888;
    transition: 0.25s ease-in-out;
}



/* #############   SECTION6 */


.bg{ background-color: rgb(247, 247, 247);
    padding-bottom: 12rem;
    padding-top: 4rem;
}

.sec6 h2{
    margin: 3rem 0rem;
    color: rgb(2, 2, 54);;
    font-size: 2.5em;
    font-weight: 900;
}
.sec6 h6{
    color: rgb(2, 2, 54);;
    font-size: 1.2em;
}

.section6-ul{
    display: flex;
    
}
.section6-ul li{
  list-style: none; 
  font-size: 1.3rem; 
  margin: 1rem 2rem; 
  padding: 1.5rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
  
}

.section6-ul li:hover{
    color: red;
    font-weight: 800;
    
    /* width: 15%; */
}


/* #############   SECTION7 */

.section7{
    display: flex;
}
.sec7-card-div{
    padding: 2.5rem 4rem;
    text-align: left;
}
.sec7-card-div1{
    
    background-color: white;
    width: 50%;
    margin: 0rem 1rem;
    padding: 4rem;
    font-size: 14px;
}
.sec7-card-div h2{font-size: 2.3rem;color:rgb(2, 2, 54); font-weight: bolder;}
.text-left h6{font-size: 1.3rem;color:rgb(2, 2, 54);padding-left: 4rem;}

.sec7-card-div1 img{
    border-radius: 50%;
    width: 20%;
}
.sec7-card-div1 h6{
    font-weight: 900;
    

}

/* #############   SECTION8 */



.section8{
    background-color: rgba(10, 18, 56, 0.993);
    height: 70vh;
}

.sec8-main{
display: flex;
}


.sec8-div1 {
    color: white;
    padding: 8rem 0rem;
    height: 50%;
    width: 31%;
    /* margin-top: 3rem; */
}
.sec8-div1 h6{padding-bottom: 2rem;font-size: 1.2rem;}

.sec8-div1 h2{font-size: 2.3rem;font-weight: bolder;}

.sec8-div2{
    text-align: center;
    position: relative;
    left: 20rem;
   
    
}

.sec8-div2 img{
    width: 100%;
    height: 100%;
    margin-top: -7rem;
    border-radius: 12px; 
}

.sec8-ul{
    display: flex;
    justify-content: space-evenly;
  
}
.sec8-ul .num{font-weight:700; font-size: 3rem; color: red; display: inline-block;}

.sec8-ul .clr{color: white;}


.sec9{
    display: flex;
    margin-top: -3rem;
    background-color: white;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sec9-div1{
    width: 70%;
    font-weight: 900;
}

.sec9-div1 h4{
    padding: 4rem 8rem; 
    font-size: 18px;
    font-weight: 900;
}



.sec9-div2{
    width: 30%;
}

/* ############3footer################# */
footer{
    padding: 5rem;
    background-color: azure;
}
.wraper{display: flex;justify-content: space-between;}

.inner{width: 25%;}
.inner h1{
    font-weight: bolder;
}

 .inner li {font-size: 1.5rem; padding-top: 1rem;}
 .inner p{
     font-size: 1.5rem;
     padding-top: 1.3rem ;
     padding-bottom: 1rem;
    }
.inner i{color: red; font-size: 1.5rem; padding-right: 1rem;}

.ft-blue{
    background-color:rgb(2, 2, 54);
    padding:1.3rem;
    color: rgba(255, 255, 255, 0.486);
}
.ft-blue .container{
    justify-content: space-between;
    display: flex;
}


/* responsive query */
@media (max-width:1250px){
    .section4-div{text-align: center;}
    .row{justify-content:space-evenly;}
    .kesari{
        width: 110%;
        justify-content: space-between;
    }

    .card-div{text-align: center;}
    .card-div p{text-align: left;margin: 0 2rem; padding-right: 1rem;}

    .icon{margin: 0 auto;}
}

@media (max-width:1035px){

    html{font-size: 50%;}

    .main-header h1{
        font-size: 3.2rem;
        
        }

    .card-div{text-align: center;}
    .card-div p{text-align: left;margin: 0 2rem; padding-right: 1rem;}

    .icon{margin: 0 auto;}

    
    }


@media (max-width:978px){

    .nav-def {
        width: 4vw;
        /* margin: -2rem auto; */
        display: none;
        background-color:whitesmoke;
    }
    .section4-div{text-align: center;}
    .row{justify-content:space-evenly;}
    .kesari{
        width: 140%;
        justify-content: space-between;
    }
}

@media (max-width:890px){

    .logo, .nav-menu {
       display: none;
    }


    /* ham */

    .nav-container{
        position: relative;
        display: block;
        height: 64px;
    }
    .nav-container input[type=checkbox], .h-lines{
        display: block;
    }
    .nav-container input[type=checkbox]{
        position: absolute;
        width: 40px;
        top: 21px;
        left: 21px;
        height: 32px;
        z-index: 6;
        opacity: 0;

    }
    .h-lines{
        width: 40px;
        height: 32px;
        top: 21px;
        left: 21px;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .line{
        display: block;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 5px;
    }
    .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .line2{
        transition: transform 0.4s ease-in-out;
    }
    .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .menu1{
        padding-top: 10rem;
        background-color:red;
        height: 45vh;
        width: 150%;
        text-align: center;
        display: flex;
        
        flex-direction: column;
        transform: translateX(-150%);
        margin-top: -3rem;
        margin-left: -30%;
        padding-left:15%;
        transition:transform 0.5s ease-in-out ;
        /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466); */
    }
    .menu1 li{margin-top: 2rem;}

    .menu1 a:hover{color: red;}
    .menu1 a{
        margin-bottom: 3rem;
        color: white;
        padding:1.3rem;   
        left: -1rem;
        margin:  1rem auto;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .logo1{
        position: absolute;
        top:15px;
        right: 15px;
    }

    .nav-container input[type=checkbox]:checked ~ .line{
       background-color: black;
    } 
    .nav-container input[type=checkbox]:checked ~ .menu1{
        transform: translateX(0);
        /* max-width:500px; */

    }
    .nav-container input[type=checkbox]:checked ~.h-lines .line1{
        transform: rotate(45deg);

    }
    .nav-container input[type=checkbox]:checked ~.h-lines .line2{
        transform: scaleY(0);

    }
    .nav-container input[type=checkbox]:checked ~.h-lines .line3{
        transform: rotate(-45deg);

    }
    
    
}

@media (max-width:640px){
    .middle{flex-direction: column;justify-items: center;}
    .sec2{text-align: center;}
    .card-div{width: 100%;}
}
@media (max-width:840px){
    .form-wrap{ flex-direction: column;}
.form{width: 100%; height: 75%; ;}
.cst-count{display: none;}


/* #mene */
.section7{
    flex-direction: column;

}
.sec7-card-div1{
    padding: 1rem;
    align-self: center;
    margin: 2rem 0rem;
    width: 100%;
}
}
@media (max-width:550px){
    .section6-ul{display: none;}
    .kesari{
        padding: 2rem 0rem;
    }
    .col-sm-4 {
        width: 31%;
        margin: 9px 2rem;
    }

}
@media (max-width:880px){
    .fb{margin: 1rem auto;}

    .main-header {
        top: 60%;
        left: 50%;
     
    }
}
@media (max-width:750px){

    .wraper{
        flex-wrap: wrap;
    }
    .inner{width:100%}
}

@media (max-width:950px){
    
    .sec8-div2 img{display:none; }

    .sec8-main{text-align: center;}
    .sec8-div1 {
        width: 100%;

        /* margin-top: 3rem; */
    }
}

@media (max-width:930px){
    .sec8-ul{flex-wrap: wrap;}
    .li{width: 50%; margin-bottom: 1.3rem; }
    .li .num{font-size: 1.7rem;}
}




@media (max-width:670px){

    .sec9{
        flex-direction: column;
        justify-items: center;
    }
    .sec9-div1{width: 100%;}
    .sec9-div2{align-self: center;padding-bottom: 3rem;}


}


.button {
    border-radius: 4px;
    background-color: red;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 1rem;
    width: 20rem;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3rem;
    padding: 1.3rem 3rem;
    display: inline-block;
    border-radius: 10px;

  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }